html,
body {
  font-family: sans-serif;
}

.game-screen {
  padding-top: 50px;
}

.game-header {
  min-height: 100px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.indicator {
  width: 30px;
  height: 90px;
  margin-right: 30px;
  padding: 3px;
  border: 2px solid #000000;
}

.indicator span {
  box-sizing: border-box;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: rgb(199, 197, 197);
}

.indicator.ready span:first-child {
  background-color: green;
}

.indicator.steady span:nth-child(2) {
  background-color: yellow;
}

.indicator.go span:last-child {
  background-color: red;
}

.game-menu {
  margin: 0;
  padding: 20px;
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.menu-item {
  font-size: 30px;
}

.time {
  font-size: 40px;
}

.game-text,
.game-input {
  letter-spacing: 0.1em;
}

.game-text {
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 20px 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #e7e7e7;
}

.game-text .right {
  background-color: green;
}

.game-text .wrong {
  background-color: red;
}

.game-input {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 15px;
}

.users-list {
  list-style: none;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  border: 2px solid #000000;
}

.login-form input {
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 5px 15px;
}

.players-progress {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.chat {
  overflow-y: scroll;
  height: 250px;
  max-width: 320px;
  border: 1px solid currentColor;
  background-color: #e7e7e7;
}

.chat li {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid currentColor;
  border-radius: 10px;
  background-color: #ffffff;
}

@media(min-width: 950px) {
  .game-screen {
    padding-left: 50px;
    padding-right: 50px;
  }
}